<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Index</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/explore.css" rel="stylesheet">
  </head>
  <body role="document">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container theme-showcase" role="main"/>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Mobile phone usage during a regular week</h1>
        <p>The purpose of this exercise is exploring the battery, location, and screen data during an ordinary week of classes and trying to find patterns of usage</p>
      </div>
      <div class="page-header">
      </div>
      
    <div class="col-md-10">
	<blockquote class="blockquote">
	<br>
	<p>I tracked my location, battery charge, and screen from April 2nd to April 12th and tried to find if there was a pattern in the way I charge and use my cellphone during a regular study week.<br> 
       The three main patterns observed in the data are that a higher battery charge is observed when I'm around Fifth Avenue and Negley or around Forbes Avenue. Also, I found that the distribution in charge
       levels is similar when I compare class days with weekends. During class days there is a clear seasonality in charge levels, but this pattern is unclear during weekends. Finally, I found that
       I found that one third of the times that I check my cellphone I do not unlocked it.
    </p>
    </blockquote>
    </div>
      
    <!-- dashboard  battery-->
    <div class='tableauPlaceholder' id='viz1523830829606' style='position: relative'><noscript><a href='#'>
    <img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;by&#47;byte3Battery&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a>
    </noscript><object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
    <param name='embed_code_version' value='3' /> 
    <param name='site_root' value='' />
    <param name='name' value='byte3Battery&#47;Dashboard1' />
    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;by&#47;byte3Battery&#47;Dashboard1&#47;1.png' /> 
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='filter' value='publish=yes' />
    </object></div>                
    <script type='text/javascript'>
    var divElement = document.getElementById('viz1523830829606');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='1000px';vizElement.style.height='827px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement); </script>
    
    <!-- screen -->
	<div class="col-md-10">
	<blockquote class="blockquote">
	<br>
	<p>
	As I mentioned before, one third of times I checked my phone I do not unlocked it. 
	</p>
	</blockquote>
	</div>
	<div class='tableauPlaceholder' id='viz1523837889644' style='position: relative'>
	<noscript><a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sc&#47;Screen&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript>
	<object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
	<param name='embed_code_version' value='3' />
	<param name='site_root' value='' />
	<param name='name' value='Screen&#47;Dashboard1' />
	<param name='tabs' value='no' />
	<param name='toolbar' value='yes' />
	<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Sc&#47;Screen&#47;Dashboard1&#47;1.png' />
	<param name='animate_transition' value='yes' />
	<param name='display_static_image' value='yes' />
	<param name='display_spinner' value='yes' />
	<param name='display_overlay' value='yes' />
	<param name='display_count' value='yes' />
	<param name='filter' value='publish=yes' />
	</object></div>                
	<script type='text/javascript'>
	var divElement = document.getElementById('viz1523837889644');
	var vizElement = divElement.getElementsByTagName('object')[0];
	vizElement.style.width='400px';vizElement.style.height='327px';
	var scriptElement = document.createElement('script');
	scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
	vizElement.parentNode.insertBefore(scriptElement, vizElement);
	</script>
	
	<div class="col-md-10">
	<blockquote class="blockquote">
	<br>
	<p>
	The following map represents every hourly location throughout a blue dot including the label battery charge level. 
	It is possible to filter the data by daytime. 
	It can be morning, evening, afternoon, midnight and midday. 
	Moreover, it is possible to filter by date. 
	For example, if you filter morning, you’ll see that my activity was concentrated around Forbes Avenue, 
	except some dots that correspond to weekends. 
	The level of charge remained higher in locations around the university area (Forbes Avenue). 
	On the contrary, when I filtered the charge levels and location during the evening, 
	the dispersion of the points increases and the charge levels decreases. In part because I don’t have classes after 3 pm.</p>
	</blockquote>
	</div>
	
	 <!-- map -->
	 <div class='tableauPlaceholder' id='viz1523841089939' style='position: relative'><noscript><a href='#'>
	 <img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;8D&#47;8DM77T5JD&#47;1_rss.png' style='border: none' /></a>
	 </noscript><object class='tableauViz'  style='display:none;'>
	 <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
	 <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;8DM77T5JD' />
	 <param name='toolbar' value='yes' />
	 <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;8D&#47;8DM77T5JD&#47;1.png' />
	 <param name='animate_transition' value='yes' />
	 <param name='display_static_image' value='yes' />
	 <param name='display_spinner' value='yes' />
	 <param name='display_overlay' value='yes' />
	 <param name='display_count' value='yes' />
	 <param name='filter' value='publish=yes' />
	 </object></div>
	 <script type='text/javascript'>
	 var divElement = document.getElementById('viz1523841089939');
	 var vizElement = divElement.getElementsByTagName('object')[0];
	 vizElement.style.width='800px';vizElement.style.height='527px';
	 var scriptElement = document.createElement('script');
	 scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
	 vizElement.parentNode.insertBefore(scriptElement, vizElement);
	 </script>
	
</style>
</body>
</html>
